/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


table span {
    font-size: 10px;
}


td {
    border: 1px #000008 solid;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: #d3d3d3;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    cursor: pointer;
}

.position-list {
     list-style-type:none;
     margin:25px 15px 0 0;
     padding:0;
     padding-left: 15px;
}

.position-list li {
     float:left;
     margin:0 5px 0 0;
    width:80px;
    height:40px;
    position:relative;
}

.position-list label, .position-list input {
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.position-list input[type="radio"] {
    opacity:0.011;
    z-index:100;
}

.position-list input[type="radio"]:checked + label {
    background:yellow;
}

.position-list-enemy {
    list-style-type:none;
    margin:25px 15px 0 0;
    padding:0;
    padding-left: 15px;
}
.position-list-enemy {
    list-style-type:none;
    margin:25px 15px 0 0;
    padding:0;
    padding-left: 15px;
}

.position-list-enemy li {
    float:left;
    margin:0 5px 0 0;
   width:80px;
   height:40px;
   position:relative;
}

.position-list-enemy label, .position-list-enemy input {
   display:block;
   position:absolute;
   top:0;
   left:0;
   right:0;
   bottom:0;
}

.position-list-enemy input[type="radio"] {
   opacity:0.011;
   z-index:100;
}

.position-list-enemy input[type="radio"]:checked + label {
   background:red;
}

.position-list-enemy label {
     padding:5px;
     border:1px solid #CCC; 
     cursor:pointer;
    z-index:90;
    padding-left: 10px;
}

.position-list-enemy label:hover {
     background:#DDD;
}

.position-list label {
     padding:5px;
     border:1px solid #CCC; 
     cursor:pointer;
    z-index:90;
    padding-left: 10px;
}

.position-list label:hover {
     background:#DDD;
}

.action-list {
     list-style-type:none;
     margin: 10px 15px 0 0;
     padding: 0;
     padding-left: 15px;
}

.action-list li {
     float:left;
     margin:0 5px 0 0;
    width:80px;
    height:40px;
    position:relative;
}

.action-list label, .action-list input {
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.action-list input[type="radio"] {
    opacity:0.011;
    z-index:100;
}

.action-list input[type="radio"]:checked + label {
    background:#96b1a4;
}

.action-list label {
     padding:5px;
     border:1px solid #CCC; 
     cursor:pointer;
    z-index:90;
    padding-left: 10px;
}

.action-list label:hover {
     background:#DDD;
}
.stak-list {
     list-style-type:none;
     margin:10px 15px 0 0;
     padding:0;
     padding-left: 15px;
}

.stak-list li {
     float:left;
     margin:0 5px 0 0;
    width:60px;
    height:40px;
    position:relative;
}

.stak-list label, .stak-list input {
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.stak-list input[type="radio"] {
    opacity:0.011;
    z-index:100;
}

.stak-list input[type="radio"]:checked + label {
    background:#d98b83;
}

.stak-list label {
     padding:5px;
     border:1px solid #CCC; 
     cursor:pointer;
    z-index:90;
    padding-left: 10px;
}

.stak-list label:hover {
     background:#DDD;
}
body{
    padding-top: 20px;
    font-weight: bold;
    background-color: #eeeeee;
}

.stak-list li:nth-child(n+11) {
    width: 60px;  
}
.shove {
    background-color: #a73540;    
}
.limp {
    background-color: #a2cd5a;
}
.limpfold {
    background-color: #77BFC7;
}
.raiseshove {
    background-color: #2B65EC;
}
.raise {
 background-color: #ff5151;
}
.lightraise {
    background-color: #fcb3a8;
}
.legend {
    width: 100px;
    text-align: center;
    font-size: 14px;
    
}
.fold {
    background-color: #57acff;
}
.call {
    background-color: #a2cd5a;
}
.callfold25 {
    background: linear-gradient(#57acff 75%, #a2cd5a 25%);
}
.callfold50 {
    background: linear-gradient(#a2cd5a 50%, #57acff 50%);
}
.callfold75 {
    background: linear-gradient(#a2cd5a 75%, #57acff 25%);
}
.raisecall25 {
    background: linear-gradient(#a2cd5a 75%, #ff5151 25%);
}
.raisecall50 {
 background: linear-gradient(#ff5151 50%, #a2cd5a 50%);
}
.raisecall75 {
 background: linear-gradient(#ff5151 75%, #a2cd5a 25%);
}

.betfold50 {
 background: linear-gradient(#a5a5ff 50%, #57acff 50%);
}
.betfold75 {
 background: linear-gradient(#a5a5ff 70%, #57acff 20%);
}
.betfold {
 background: #a5a5ff;
}
.betfold25 {
    background: linear-gradient(#57acff 75%, #a5a5ff 25%);    
}
.betfoldcall50 {
    background: linear-gradient(#a5a5ff 50%, #a2cd5a 50%); 
}
.betfoldcall75 {
    background: linear-gradient( #a5a5ff 75%, #a2cd5a 25%); 
}
.betfoldcall25 {
    background: linear-gradient(#a2cd5a 75%, #a5a5ff 25%); 
}
.white {
    background-color: #F7DC6F  
}
.orange {
    background-color: orange;
}
.shove25 {
    background: linear-gradient(#57acff 75%, #a73540 25%);
}
.shove50 {
    background: linear-gradient(#a73540  50%, #57acff 50%);
}
.shove75 {
    background: linear-gradient(#a73540  75%, #57acff 25%);
}
.shoveraise2550 {
    background: linear-gradient(#a73540 15%, #57acff 45%, #ff5151 40%);
}

.shovecall25 {
    background: linear-gradient(#a2cd5a 75%, #a73540 25%);
}
.shovecall50 {
    background: linear-gradient(#a73540  50%, #a2cd5a 50%);
}
.shovecall75 {
    background: linear-gradient(#a73540  75%, #a2cd5a 25%);
}
.shoveraise25 {
    background: linear-gradient(#ff5151 75%, #a73540 25%);
}
.shoveraise50 {
    background: linear-gradient(#a73540  50%, #ff5151 50%);
}
.shoveraise75 {
    background: linear-gradient(#a73540  75%, #ff5151 25%);
}

.betfoldcallfold255025 {
    background: linear-gradient( #a2cd5a 40%, #a5a5ff 15%, #57acff 45%);
}
.shovelight {
    background-color: #a74665;
}
